#booking-list {
	padding: 15px;
	text-align: center;
}
	
#booking-list table {
	font-family: "Nunito","Tahoma",serif;
	width: 95%;
	border: 1px solid #222;
	margin: 5px auto;
	background: #DDD;
}

#booking-list th {
	background: #DDD;
	border: 1px solid #222;
	padding: 2px;
	text-align: center;
	height: 25px;
}

#booking-list td {
	border: 1px solid #222;
	font-size: .65em;
	padding: 2px;
	text-align: center;
	background: #FFF;
	height: 25px;
	color: 222;
}

.book-button,
.confirm-button {
	border: none;
	font-size: .7em;
	color: #222;
	outline: none;
	background: transparent;
	margin: 0 auto;
}

h2 {
	color: #222;
	font-size: 1.4em;
	font-variant: small-caps;
	font-weight: lighter;
	margin: 0 auto 2px;
	text-align: center;
	font-family: FTYS, Georgia, Verdana, serif;
	padding:  2px 5px; 
	display: block;
}