/.settings/
/Connections/
/__archive/
/_mmServerScripts/
/_notes/
/aboutus/
/courses/
/fonts/
/foo/
/img/
/scripts/
/secure16/
/secured/
/secured16/
/staff/
/teachers/
/index_files/
/regfiles/