#registration_overview a {
	color: #222;
	background: transparent;
	border: none;
	font-size: 1em;
	font-variant: small-caps;
	text-decoration: none;
}	

/* SESSION TABLE */
#session-table table {
	width: 90%;
	border-color: #222;
	background: #DDD;
	font-size: .9em;
	margin: 0 auto;
	margin-bottom: 25px;
}

#session-table th {
	width: 25%;
	background: #222;
	color: #FFF;
	border-color: #222;
	font-weight: 400;
	font-size: 1em;
	font-variant: small-caps;
	padding: 7px 5px;
}	

#session-table td {
	width: 25%;
	border-color: #222;
	font-size: .9em;
	text-align: center;
	padding: 7px 5px;
}	

/* REPORT SECTION */

.plaintext-button {
	background: transparent;
	border: none;
	font-size: 1.3em;
	color: #FF8033;
	font-variant: small-caps;
}

#report-section form {
	border: #AAA 1px solid;
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	font-size: .8em;
	text-align: center;
	margin-bottom: 25px;
	background: #F2F2F2;
}

#report-section select {
	margin: 5px auto;
	width: 100%; 
	min-height: 40px;
}

select,
input[type=date] {
	-webkit-appearance: none;
   -moz-appearance: none;
}