#session-table a {
	color: #222;
	background: transparent;
	border: none;
	text-decoration: none;
}	

#session-table table {
	border-collapse: collapse;
	width: 90%;
	max-width: 800px;
	border: 1px solid #222;
	background: #DDD;
	margin: 0 auto;
	margin-bottom: 25px;
}

#session-table th {
	background: #222;
	color: #FFF;
	border: 1px solid #222;
	font-weight: 400;
	font-size: 1em;
	font-variant: small-caps;
	padding: 7px 5px;
}	

#session-table td {
	border: 1px solid #222;
	font-size: .9em;
	text-align: center;
	padding: 7px 5px;
}	


#session-table td.small_td {
	width: 5%;
	font-size: .8em;
}

.session-name {
	text-align: left;
	font-size: 1em;
} 

.show-for-all {
	display: none;
}

@media screen and (max-width: 557px){
	#session-table th {
		font-size: .8em;
	}	
	#session-table td {
		font-size: .7em;
	}	
	#session-table td.small_td {
	font-size: .7em;
}
}