/* Print Month */

	body {
		background: #FFF;
		color: #000;
		font-family: 'Nunito', "Arial", "Verdana", sans-serif;
		-webkit-print-color-adjust:exact
	}

	#month-print {
		padding: 0px 10px;
	}
	
	#month-cal-title {
		color: #000;
		font-size: 1.5em;
		margin: 5px;
		font-variant: small-caps;
		text-align: left;
	}	
	
	#schedule table {
		border: 1px solid #000;
		border-collapse: collapse;
		width: 99%;
		margin: 0 auto;
		font-size: 1em;
	}
	
	#shedule td, th {
		border: 1px solid #000;
		border-collapse: collapse;
		width: 14%;
	}
	
	#schedule td {
		text-align: left;
		height: 65px;
		vertical-align: top;
	}
	
	#schedule th {
		text-align: center;
		font-variant: small-caps;
		background: #000;
		color: #FFF;
		vertical-align: middle;
		height: 25px;
		font-size: 1.5em;
	}

	.day-num {
		font-size: .7em;
		color: #222;
	}
		
	.no-date {
		background: #AAA;
	}
	
	.visit-details {
		border: #AAA solid 1px;
		background: #DDD;
		margin: 2px 5px;
		padding: 2px 5px;
		text-align: center;
	}
	
	h1 {
		font-size: 2em;
		font-variant: small-caps;
		margin: 1px auto;
	}
	
	h2 {
		font-size: 1.3em;
		margin: 1px auto;
	}
	
	h3 {
		font-size: .8em;
		margin: 1px auto;
	}
	
	h4 {
		font-size: .4em;
		font-style: italic;
		margin: 1px auto;
	}

	p {
		font-size: .8em;
		margin: 10px auto;
	}
	
	.pagebreak {
		page-break-after: always;
	}
	
	#contract table {
		border: none;
		border-collapse: collapse;
		font-size: .8em;
		width: 99%;
		margin: 0 auto;
	}
	
	#contract td {
		border: none;
		vertical-align: top;
		
	}
