@page {
	size: 8.5in 11in;
	margin: .5in;	
}

body {
  	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 10px;
  	margin: 0;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	page-break-inside: avoid;
}

#header {
	width: 100%;
	color: #000;
  	display:block;
}

#main {
	width: 100%;
	margin: 0 auto;
	padding: 5px;
  	display:block;
}

table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #000;
}

td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 8px;
	border: 1px solid #000;
	vertical-align: top;
	padding: 2px;
}


.personal {
	float: left;
	margin: 1px;
}

.contact {
	float: left;
	margin: 1px;
}

.admin {
	float: left;
	margin: 1px;
}

h1 {
	font-size: 16px;
  	font-family: 'Book Antiqua', Geneva, Arial, helvetica, sans-serif;
}

h2 {
		font-size: 10px;
  	font-family: 'Book Antiqua', Geneva, Arial, helvetica, sans-serif;
font-weight: bold;
}

label {
		font-size: 9px;
  	font-family: 'Book Antiqua', Geneva, Arial, helvetica, sans-serif;
font-weight: bold;
}


.spacerright {
	clear:right; 
	height: 1px;
}

.spacer {
	clear:both; 
	height: 1px;
}

.pagebreak{
page-break-after:always;
}
