.session-table input,
.session-table select {
	padding: 2px;
	border: 1px solid #DDD !important;
	background: #FFF;
	outline: none;
    box-shadow: none !important;
	width: 100%;
	min-height: 40px;
	margin: 1px !important;
}

select,
input[type=date] {
	-webkit-appearance: none;
   -moz-appearance: none;
}

.session-table {
	border-collapse: collapse;
	width: 90%;
	max-width: 800px;
	border: 1px solid #222;
	background: #DDD;
	margin: 0 auto;
}

.session-table th {
	background: #222;
	color: #FFF;
	border: 1px solid #222;
	font-weight: 400;
	font-size: .9em;
	font-variant: small-caps;
	padding: 7px 5px;
	text-align: left;
}	

.session-table td {
	border: 1px solid #222;
	font-size: .8em;
	text-align: left;
	background: #FFF;
}	

.session-table i {
	cursor: pointer;
}

@media screen and (max-width: 557px){
	.session-table th {
		font-size: .8em;
	}	
	.session-table td {
		font-size: .7em;
	}	
}

.plaintext-button {
	background: transparent;
	border: none;
	font-size: 1.2em;
	color: #6F9FC4;
	font-variant: small-caps;
	margin-top: 10px;
}