form {
	padding: 5px;
}

#staff-menu-button {
	background: transparent;
	padding: 0;
	margin: 0;
	border: none;
	width: 100%;
	color: #FFF;
}

.plaintext-button {
	background: transparent;
	border: none;
	font-size: 1.1em;
	margin: 0 auto;
	color: #000064;
	font-variant: small-caps;
	padding: 15px 20px 5px 20px;
}

select[disabled], textarea[disabled], input[disabled] {
	background: #222;
	color: #EEE !important;
}

label {
	font-weight: 300;
	color: #666;
	text-align: left;
	font-size: .9em;
}

.page {
	display: none;
}

.gl-main-date {
	height: 32px;
	text-align: left;
}

.pure-form input {
	padding: 8px 10px 7px 10px;
}

.pure-form input, .pure-form textarea, .pure-form select {
	color: #222;
	font-family: "Open Sans", "Arial", "Verdana", sans-serif;
	min-height: 50px;
	font-size: .9em;
}

select,
input[type=date] {
	-webkit-appearance: none;
   -moz-appearance: none;
}

.pure-form select option {
	margin: 5px;
}

.input-padding {
	padding: 0 5px;
}

h1 {
	position: fixed;
	top: 52px;
	left: 0;
	color: #FFF;
	background: #222;
	font-size: 1.6em;
	font-variant: small-caps;
	font-weight: normal;
	margin: 0 auto;
	text-align: center;
	font-family: FTYS, Georgia, Verdana, serif;
	padding:  1px 10px 4px; 
	width: 100%
}

h2 {
	color: #222;
	font-size: 1.4em;
	font-variant: small-caps;
	font-weight: normal;
	margin: 4px 10px;
	text-align: left;
	font-family: FTYS, Georgia, Verdana, serif;
	width: 100%
}

.center {
	text-align: center;
}